@import '@/styles/variables';

.root {
    min-width: 20px;
    min-height: 20px;
    margin-right: $indent_20;
    border: none;
    cursor: pointer;
}
.pencil {
    background: url('../../images/pencil.svg');
}
.eracer {
    background: url('../../images/eracer.svg');
}
.rect {
    background: url('../../images/rect.svg');
}
.circle {
    background: url('../../images/circle.svg') no-repeat center/100%;
}